@charset "UTF-8";

// components
@import "fonts";
@import "col-5th";


/*mixin*/
@mixin break($args...) {
  @if length($args) == 1 {
    @media (min-width: nth($args, 1)) {
      @content;
    }
  } @else {
    @media (min-width: nth($args, 1)) and (max-width: nth($args, 2)) {
      @content;
    }
  }
}

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 300px;

//template
%for-hover {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

/*fonts*/
* {
  font-family: GothamPro-Light, Arial, sans-serif;
}

$gothamMedium: GothamPro-Medium, Arial, sans-serif;

$gotham: GothamPro, Arial, sans-serif;

/*colors*/
$main-color: #f8f8f8;
$color-yellow: #fbbd33;
$color-dark-gray: #3c3c3c;
$color-light: #edf6fa;



//body
body {
  background: #151618;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.container {
  max-width: 1500px !important;
}


//films
#films {
  & a {
    color: $color-light;

  }


  color: $color-light;
  & .lib_films {
    & a {
      text-decoration: none;
    }
    a:hover {

      & img {
        @extend %for-hover;
        opacity: .1;
      }

      & .fa-play-circle {
        @extend %for-hover;
        opacity: 1;

      }
      & .icon-heart-times {
        opacity: 1;
        & .fa-heart {
         color: red;
        }
        & .far {
            color: #5e5e60;
        }
      }
    }

    & h6 {
      font-size: 18px;
    }

    .col-md-5th {
      padding-right: 30px;
      margin-bottom: 30px;
    }

    & .fa-play-circle {
      font-size: 6em;
      opacity: 0;
      margin: -80px 0 0 -60px;
      top: 40%;
      left: 50%;
    }

    & .film-name {
      margin-top: 10px;
      font-size: 16px;
      font-weight: bold;
    }

    & .film-category {
      color: #808080;
    }
    & .icon-thumbs {
      margin: 10px;
    }
    & .icon-heart-times {
      opacity: 0;
      top: 2%;
      right: 20%;
      left: 5%;
      z-index: 1030;
    }
    & #collapseOne {
      @include break($xs, $md) {
        -ms-flex-direction: column;
        flex-direction: column;
      }
    }
  }
}




/*Tooltip*/
[title]{
  position:relative;
}
[title]:after{
  content:attr(title);
  font-size: 15px;
  color:#fff;
  background:#676566;
  padding:10px;
  position:absolute;
  left:-9999px;
  opacity:0;
  bottom:100%;

  white-space:nowrap;
  -webkit-transition:0.25s linear opacity;
  transition:0.25s linear opacity;
}
[title]:hover:after{

  left:5px;
  opacity:1;
}

